<%- contentFor('HeaderCss') %>

    <%- contentFor('breadcrumb') %>
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0 font-size-18">Dashboard</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboards</a></li>
                            <li class="breadcrumb-item active">Overview</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>

        <%- contentFor('body') %>
    <div class="row">
        <div class="col-xl-4 col-sm-12">
            <div class="card overflow-hidden">
                <div class="bg-primary bg-soft">
                    <div class="row">
                        <div class="col-7">
                            <div class="text-primary p-3">
                                <h5 class="text-primary">Welcome Back !</h5>
                                <p>Penky Dashboard</p>
                            </div>
                        </div>
                        <div class="col-5 align-self-end">
                            <img src="public/assets/images/profile-img.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="avatar-md profile-user-wid mb-4">
                                <img src="public/assets/images/users/avatar-2.jpg" alt=""
                                    class="img-thumbnail rounded-circle">
                            </div>
                            <h5 class="font-size-15 text-truncate">Jack Scampi</h5>
                            <p class="text-muted mb-0 text-truncate">God</p>
                        </div>

                        <div class="col-sm-8">
                            <div class="pt-4">

                                <div class="row">
                                    <div class="col-6">
                                        <h5 class="font-size-15">125</h5>
                                        <p class="text-muted mb-0">Activities Done</p>
                                    </div>
                                    <div class="col-6">
                                        <h5 class="font-size-15">125</h5>
                                        <p class="text-muted mb-0">Activities Pending</p>
                                    </div>
                                </div>
                                <div class="mt-4">
                                    <a href="" class="btn btn-primary waves-effect waves-light btn-sm">View
                                        Profile <i class="mdi mdi-arrow-right ms-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex flex-wrap">
                        <h4 class="card-title mb-4">How many bets?</h4>
                        <div class="ms-auto">
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">24h</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Week</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row" style="margin-top:40px;">
                        <div class="col-sm-4 col-sm-12">
                            <h5>New Join Bets</h5>
                        </div>
                        <div class="col-sm-4 col-sm-12">
                            <h5>12,252</h5>
                        </div>
                        <div class="col-sm-4 col-sm-12">
                            <p class="text-muted"><span class="text-success me-2"> 12% <i
                                        class="mdi mdi-arrow-up"></i> </span> From previous period</p>
                        </div>
                        <div class="col-sm-4 col-sm-12">
                            <h5>New Winners</h5>
                        </div>
                        <div class="col-sm-4 col-sm-12">
                            <h5>156</h5>
                        </div>
                        <div class="col-sm-4 col-sm-12">
                            <p class="text-muted"><span class="text-success me-2"> 15% <i
                                        class="mdi mdi-arrow-up"></i> </span> From previous period</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-sm-12">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="card mini-stats-wid">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-grow-1">
                                    <p class="text-muted fw-medium">Online Users</p>
                                    <h4 class="mb-0">1,235</h4>
                                </div>

                                <div
                                    class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center">
                                    <span class="avatar-title">
                                        <i class="bx bx-copy-alt font-size-24"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="card mini-stats-wid">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-grow-1">
                                    <p class="text-muted fw-medium">Bet Played (last 24h)</p>
                                    <h4 class="mb-0">1,723</h4>
                                </div>

                                <div
                                    class="avatar-sm rounded-circle bg-primary align-self-center mini-stat-icon">
                                    <span class="avatar-title rounded-circle bg-primary">
                                        <i class="bx bx-archive-in font-size-24"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="card mini-stats-wid">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-grow-1">
                                    <p class="text-muted fw-medium">Bet Fee since last distribution</p>
                                    <h4 class="mb-0">$1,385,382</h4>
                                </div>

                                <div
                                    class="avatar-sm rounded-circle bg-primary align-self-center mini-stat-icon">
                                    <span class="avatar-title rounded-circle bg-primary">
                                        <i class="bx bx-purchase-tag-alt font-size-24"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex flex-wrap">
                        <h4 class="card-title mb-4">How many users? <br /> Active users - 24h / Week / Month /
                            Year</h4>
                        <div class="ms-auto">
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">24h</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Week</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Month</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Year</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div id="line-chart" class="e-charts"></div>
                </div>
            </div>
        </div>
    </div>
<!-- end row -->

    <div class="row">
        <div class="col-xl-8 col-sm-12">
            <div class="card">
                <div class="card-body">

                    <div class="d-sm-flex flex-wrap">
                        <h4 class="card-title">Users Map</h4>
                        <div class="ms-auto">
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Total</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">Active</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-8 col-sm-12">
                            <div id="world-map-markers" style="height: 320px"></div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <p class="card-title-dsec">Where are they from?<br />
                                Map and list of user nationality<br />
                                (top10 in term of total users/active users)</p>
                        </div>
                    </div>

                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->
        <div class="col-xl-4 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex flex-wrap">
                        <h4 class="card-title mb-4">Users Top Country List</h4>
                        <div class="ms-auto">
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Total</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">Active</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="text-center">
                        <div class="mb-4">
                            <i class="bx bx-map-pin text-primary display-4"></i>
                        </div>
                        <h3>1,456</h3>
                        <p>Italy</p>
                    </div>


                    <div class="table-responsive mt-4">
                        <table class="table align-middle table-nowrap">
                            <tbody>
                                <tr>
                                    <td style="width: 30%">
                                        <p class="mb-0">Italy</p>
                                    </td>
                                    <td style="width: 25%">
                                        <h5 class="mb-0">1,456</h5>
                                    </td>
                                    <td>
                                        <div class="progress bg-transparent progress-sm">
                                            <div class="progress-bar bg-primary rounded" role="progressbar"
                                                style="width: 94%" aria-valuenow="94" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0">USA</p>
                                    </td>
                                    <td>
                                        <h5 class="mb-0">1,123</h5>
                                    </td>
                                    <td>
                                        <div class="progress bg-transparent progress-sm">
                                            <div class="progress-bar bg-success rounded" role="progressbar"
                                                style="width: 82%" aria-valuenow="82" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0">Spain</p>
                                    </td>
                                    <td>
                                        <h5 class="mb-0">1,026</h5>
                                    </td>
                                    <td>
                                        <div class="progress bg-transparent progress-sm">
                                            <div class="progress-bar bg-warning rounded" role="progressbar"
                                                style="width: 70%" aria-valuenow="70" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
            

    <div class="row">
        <div class="col-xl-4 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Prizepool x Category</h4>
                    <div id="pie-chart" class="e-charts"></div>
                    <p class="card-title-dsec2">What do they bet on?<br />
                        Pie Chart with Prizepool x Category</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">NFTs x Occupation</h4>
                    <div id="pie-chart2" class="e-charts"></div>
                    <p class="card-title-dsec2">Who are they betting on? <br /> Pie Chart with Celebrity
                        Occupation</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Winner x Class</h4>
                    <div id="pie-chart3" class="e-charts"></div>
                    <p class="card-title-dsec2">Who is winning? <br /> Pie Chart with Winners x Class</p>
                </div>
            </div>
        </div>

    </div>
<!-- end row -->

    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Top10 NFTs in Running Bets / Winners / Average Price</h4>
                    <div class="table-responsive">
                        <table class="table align-middle mb-0">

                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Occupation</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>
                                        <button type="button" class="btn btn-light btn-sm">View</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>
                                        <button type="button" class="btn btn-light btn-sm">View</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>
                                        <button type="button" class="btn btn-light btn-sm">View</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>
                                        <button type="button" class="btn btn-light btn-sm">View</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- end table-responsive -->
                </div>
            </div>
        </div>
    </div>
<!-- end row -->


            <%- contentFor('FooterJs') %>
                <!-- apexcharts -->
                <script src="public/assets/libs/apexcharts/apexcharts.min.js"></script>

                <!-- dashboard init -->
                <script src="public/assets/js/pages/dashboard.init.js"></script>

                <%- contentFor('BottomJs') %>