<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-dashboards"><%=translation.Dashboard%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/" key="t-default"><%=translation.Overview%></a></li>
                        <li><a href="/financials" key="t-saas"><%=translation.Financials%></a></li>
                        <li><a href="/administrators" key="t-crypto"><%=translation.Administrators%></a></li>
                        <li><a href="/activities" key="t-blog"><%=translation.Activities%></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-user"></i>
                        <span key="t-layouts"><%=translation.Players%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="/all" key="t-horizontal"><%=translation.All%></a></li>
                        <li><a href="/leaderboard" key="t-topbar-light"><%=translation.Leaderboard%></a></li>
                        <li><a href="/banned" key="t-boxed-width"><%=translation.Banned%></a></li>
                        <li><a href="/deleted" key="t-preloader"><%=translation.Deleted%></a></li>
                        <li><a href="/levels" key="t-colored-topbar"><%=translation.Levels%></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fas fa-bullhorn"></i>
                        <span key="t-layouts"><%=translation.Notifications%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="/automatic" key="t-horizontal"><%=translation.Automatic%></a></li>
                        <li><a href="/manual" key="t-topbar-light"><%=translation.Manual%></a></li>
                        <li><a href="/scheduled" key="t-boxed-width"><%=translation.Scheduled%></a></li>
                        <li><a href="/history" key="t-preloader"><%=translation.History%></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fas fa-gift"></i>
                        <span key="t-layouts"><%=translation.Jackpot%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="/jleaderboard" key="t-horizontal"><%=translation.Leaderboard%></a></li>
                        <li><a href="/jmanual" key="t-topbar-light"><%=translation.Manual%></a></li>
                        <li><a href="/jhistory" key="t-boxed-width"><%=translation.History%></a></li>
                        <!-- <li><a href="#" key="t-preloader"><%=translation.History%></a></li> -->
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-shape-plus"></i>
                        <span key="t-layouts">Bets</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="/create-bet" key="t-horizontal">Create a bet</a></li>
                        <li><a href="/open-bets" key="t-topbar-light">Open</a></li>
                        <li><a href="/running-bets" key="t-boxed-width">Running</a></li>
                        <li><a href="/judging-bets" key="t-preloader">Judging</a></li>
                        <li><a href="/close-bets" key="t-boxed-width">Closed</a></li>
                        <li><a href="/approved-bets" key="t-preloader">To be approved <span class="badge rounded-pill bg-danger float-end">10</span></a></li>
                        <li><a href="/supreme-court-bets" key="t-preloader">Supreme Court <span class="badge rounded-pill bg-danger float-end">10</span></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fas fa-images"></i>
                        <span key="t-layouts">NFTs</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="/nft-list" key="t-horizontal">All NFTs</a></li>
                        <li><a href="/nft-packs" key="t-topbar-light">Packs</a></li>
                        <li><a href="/nft-marketplace" key="t-boxed-width">Marketplace</a></li>
                        <li><a href="/nft-categories" key="t-preloader">Categories</a></li>
                        <li><a href="/nft-tags" key="t-boxed-width">Tag</a></li>
                        <li><a href="/create-nft" key="t-preloader">NFT Creation</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-rocket-launch-outline"></i>
                        <span key="t-layouts">Instant Games</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="#" key="t-horizontal">All</a></li>
                        <li><a href="#" key="t-topbar-light">High Card</a></li>
                        <li><a href="#" key="t-boxed-width">Head or Tail</a></li>
                        <li><a href="#" key="t-preloader">Go for Dice</a></li>
                        <li><a href="#" key="t-boxed-width">Red or Black</a></li>
                        <li><a href="#" key="t-preloader">Golden Seed</a></li>
                        <li><a href="#" key="t-preloader">Lucky wheel</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-cart-outline"></i>
                        <span key="t-layouts">Shop</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="/shop-products" key="t-horizontal">All Products</a></li>
                        <li><a href="/shop-penky" key="t-topbar-light">Penky</a></li>
                        <li><a href="/shop-nft-packs" key="t-boxed-width">NFT Packs</a></li>
                        <li><a href="/shop-bet-packs" key="t-preloader">Bet Packs</a></li>
                        <li><a href="/create-product" key="t-boxed-width">Create new product</a></li>
                        <li><a href="/shop-sales" key="t-preloader">Sales</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fas fa-medal"></i>
                        <span key="t-layouts">Achievements</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="/achievement-list" key="t-horizontal">All</a></li>
                        <li><a href="/achievement-rookie" key="t-topbar-light">Rookie</a></li>
                        <li><a href="/achievement-skull" key="t-boxed-width">Skull</a></li>
                        <li><a href="/achievement-raising" key="t-preloader">Raising</a></li>
                        <li><a href="/achievement-shredder" key="t-boxed-width">Shredder</a></li>
                        <li><a href="/achievement-comet" key="t-preloader">Comet</a></li>
                        <li><a href="/achievement-superstar" key="t-preloader">Superstar</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fas fa-pen-nib"></i>
                        <span key="t-layouts">Sign Up</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="/referrals-signup" key="t-horizontal">Referrals</a></li>
                        <li><a href="/penky-signup" key="t-topbar-light">Penky</a></li>
                        <li><a href="/packs-signup" key="t-boxed-width">Packs</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-monitor"></i>
                        <span key="t-layouts">Hero Header</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="/header1" key="t-horizontal">Header 1</a></li>
                        <li><a href="/header2" key="t-topbar-light">Header 2</a></li>
                        <li><a href="/header3" key="t-boxed-width">Header 3</a></li>
                        <li><a href="/createnew" key="t-preloader">Create new</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-crown-outline"></i>
                        <span key="t-layouts">Jury</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="#" key="t-horizontal">Setting</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->