<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <!-- <h4 class="mb-sm-0 font-size-18">Orders</h4> -->

            <div class="page-title-left">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Players</a></li>
                    <li class="breadcrumb-item active">Levels</li>
                </ol>
            </div>

            <div class="page-title-right">
                <ul class="nav" role="tablist">
                    <!-- <li class="nav-item -->
                        <a class="btn btn-danger" style="background: transparent; border: none; color: red;"  href="#" role="tab">
                            Delete
                        </a>
                    <!-- </li> -->
                    <!-- <li class="nav-item"> -->
                        <a class="nav-link"  href="#" role="tab">
                            Banned
                        </a>
                    <!-- </li> -->
                    <!-- <li class="nav-item"> -->
                        <a class="nav-link"  href="#" role="tab">
                            Send Notification
                        </a>
                    <!-- </li> -->
                    <button type="button" class="btn btn-primary waves-effect waves-light">Player</button>
                </ul>
                <!-- <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Crypto</a></li>
                    <li class="breadcrumb-item active">Buy/Sell</li>
                </ol> -->                
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <div class="search-box me-2 mb-2 d-inline-block">
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="Search...">
                                <i class="bx bx-search-alt search-icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="float-end">
                            <div class="dropdown">
                                <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="d-none d-sm-inline-block">More Filter</span></button>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-md">
        
                                    <div class="dropdown-item-text">
                                        <label class="text-muted" >Nationality</label>
                                        <div class="form-check mb-2">
                                            <input class="form-check-input" type="radio" name="toast-type-radio" id="toast-type-radio1" value="success" checked>
                                            <label class="form-check-label" for="toast-type-radio1">
                                                Success
                                            </label>
                                        </div>
                                        <div class="form-check mb-2">
                                            <input class="form-check-input" type="radio" name="toast-type-radio" id="toast-type-radio1" value="success" checked>
                                            <label class="form-check-label" for="toast-type-radio1">
                                                Success
                                            </label>
                                        </div>
                                        <div class="form-check mb-2">
                                            <input class="form-check-input" type="radio" name="toast-type-radio" id="toast-type-radio1" value="success" checked>
                                            <label class="form-check-label" for="toast-type-radio1">
                                                Success
                                            </label>
                                        </div>
                                    </div>

                                    <div class="dropdown-item-text">
                                        <div class="mt-4">
                                            <h5 class="font-size-14">Min and max</h5>
                                            <input type="range" class="form-range" min="0" max="5" id="customRange2">
                                        </div>
                                    </div>
        
                                    <div class="dropdown-item-text">
                                        <div>
                                            <p class="text-muted mb-2">Nationality</p>
                                            <h5 class="mb-0">$ 9148.23</h5>
                                        </div>
                                    </div>
                                
                                    <div class="dropdown-divider"></div>
        
                                    <a class="dropdown-item" href="#">
                                        BTC : <span class="float-end">1.02356</span>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        ETH : <span class="float-end">0.04121</span>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        LTC : <span class="float-end">0.00356</span>
                                    </a>
        
                                    <div class="dropdown-divider"></div>
        
                                    <a class="dropdown-item text-primary text-center" href="#">
                                        <button type="button" class="btn btn-success">Apply</button>
                                        <button type="button" class="btn btn-danger">Clear</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col-->
                </div>

                <div class="table-responsive">
                    <table class="table align-middle table-nowrap table-check">
                        <thead class="table-light">
                            <tr>
                                <th style="width: 20px;" class="align-middle">
                                    <div class="form-check font-size-16">
                                        <input class="form-check-input" type="checkbox" id="checkAll">
                                        <label class="form-check-label" for="checkAll"></label>
                                    </div>
                                </th>
                                <th class="align-middle">ID</th>
                                <th class="align-middle">Username</th>
                                <th class="align-middle">Start Date</th>
                                <th class="align-middle">Leval</th>
                                <th class="align-middle">Privileges</th>
                                <th class="align-middle">Privileges Unlock</th>
                                <th class="align-middle">Activities</th>
                                <th class="align-middle">View Details</th>
                                <th class="align-middle">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-check font-size-16">
                                        <input class="form-check-input" type="checkbox" id="orderidcheck09">
                                        <label class="form-check-label" for="orderidcheck09"></label>
                                    </div>
                                </td>
                                <td><a href="javascript: void(0);" class="text-body fw-bold">#SK2548</a> </td>
                                <td>Benson</td>
                                <td>
                                    01 Oct, 2019
                                </td>
                                <td>
                                    Leval 1
                                </td>
                                <td>
                                    ABC
                                </td>
                                <td>
                                    Yes/No
                                </td>
                                <td>
                                    <span class="badge badge-pill badge-soft-success font-size-12">Active</span>
                                </td>
                                <td>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary btn-sm btn-rounded" data-bs-toggle="modal" data-bs-target=".orderdetailsModal">
                                        View Details
                                    </button>
                                </td>
                                <td>
                                    <div class="d-flex gap-3">
                                        <a href="javascript:void(0);" class="text-success"><i class="mdi mdi-pencil font-size-18"></i></a>
                                        <a href="javascript:void(0);" class="text-danger"><i class="mdi mdi-delete font-size-18"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check font-size-16">
                                        <input class="form-check-input" type="checkbox" id="orderidcheck09">
                                        <label class="form-check-label" for="orderidcheck09"></label>
                                    </div>
                                </td>
                                <td><a href="javascript: void(0);" class="text-body fw-bold">#SK2548</a> </td>
                                <td>Benson</td>
                                <td>
                                    01 Oct, 2019
                                </td>
                                <td>
                                    Leval 1
                                </td>
                                <td>
                                    ABC
                                </td>
                                <td>
                                    Yes/No
                                </td>
                                <td>
                                    <span class="badge badge-pill badge-soft-success font-size-12">Active</span>
                                </td>
                                <td>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary btn-sm btn-rounded" data-bs-toggle="modal" data-bs-target=".orderdetailsModal">
                                        View Details
                                    </button>
                                </td>
                                <td>
                                    <div class="d-flex gap-3">
                                        <a href="javascript:void(0);" class="text-success"><i class="mdi mdi-pencil font-size-18"></i></a>
                                        <a href="javascript:void(0);" class="text-danger"><i class="mdi mdi-delete font-size-18"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check font-size-16">
                                        <input class="form-check-input" type="checkbox" id="orderidcheck09">
                                        <label class="form-check-label" for="orderidcheck09"></label>
                                    </div>
                                </td>
                                <td><a href="javascript: void(0);" class="text-body fw-bold">#SK2548</a> </td>
                                <td>Benson</td>
                                <td>
                                    01 Oct, 2019
                                </td>
                                <td>
                                    Leval 1
                                </td>
                                <td>
                                    ABC
                                </td>
                                <td>
                                    Yes/No
                                </td>
                                <td>
                                    <span class="badge badge-pill badge-soft-success font-size-12">Active</span>
                                </td>
                                <td>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary btn-sm btn-rounded" data-bs-toggle="modal" data-bs-target=".orderdetailsModal">
                                        View Details
                                    </button>
                                </td>
                                <td>
                                    <div class="d-flex gap-3">
                                        <a href="javascript:void(0);" class="text-success"><i class="mdi mdi-pencil font-size-18"></i></a>
                                        <a href="javascript:void(0);" class="text-danger"><i class="mdi mdi-delete font-size-18"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check font-size-16">
                                        <input class="form-check-input" type="checkbox" id="orderidcheck09">
                                        <label class="form-check-label" for="orderidcheck09"></label>
                                    </div>
                                </td>
                                <td><a href="javascript: void(0);" class="text-body fw-bold">#SK2548</a> </td>
                                <td>Benson</td>
                                <td>
                                    01 Oct, 2019
                                </td>
                                <td>
                                    Leval 1
                                </td>
                                <td>
                                    ABC
                                </td>
                                <td>
                                    Yes/No
                                </td>
                                <td>
                                    <span class="badge badge-pill badge-soft-success font-size-12">Active</span>
                                </td>
                                <td>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary btn-sm btn-rounded" data-bs-toggle="modal" data-bs-target=".orderdetailsModal">
                                        View Details
                                    </button>
                                </td>
                                <td>
                                    <div class="d-flex gap-3">
                                        <a href="javascript:void(0);" class="text-success"><i class="mdi mdi-pencil font-size-18"></i></a>
                                        <a href="javascript:void(0);" class="text-danger"><i class="mdi mdi-delete font-size-18"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="pagination pagination-rounded justify-content-end mb-2">
                    <li class="page-item disabled">
                        <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                            <i class="mdi mdi-chevron-left"></i>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="javascript: void(0);">1</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">4</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="javascript: void(0);" aria-label="Next">
                            <i class="mdi mdi-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
 <!-- Modal -->
 <div class="modal fade orderdetailsModal" tabindex="-1" role="dialog" aria-labelledby=orderdetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id=orderdetailsModalLabel">Players Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="mb-2">id: <span class="text-primary">#SK2540</span></p>
                <p class="mb-4"> Name: <span class="text-primary">Neal Matthews</span></p>

                <div class="table-responsive">
                    <table class="table align-middle table-nowrap">
                        <thead>
                            <tr>
                            <th scope="col">Active User</th>
                            <th scope="col">Profile Name</th>
                            <th scope="col">Leval</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <div>
                                        <span class="badge badge-pill badge-soft-success font-size-12">Active</span>
                                    </div>
                                </th>
                                <td>
                                    <div>
                                        <p class="text-muted mb-0">Rockl-1</p>
                                    </div>
                                </td>
                                <td>57</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <h6 class="m-0 text-right">Sub Level:</h6>
                                </td>
                                <td>
                                    $ 40
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <h6 class="m-0 text-right">C:</h6>
                                </td>
                                <td>
                                    Free
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <h6 class="m-0 text-right">Total Hours Active Week:</h6>
                                </td>
                                <td>
                                    40
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- end modal -->

<%- contentFor('FooterJs') %>

<%- contentFor('BottomJs') %>